<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lezada - Multipurpose eCommerce Bootstrap4 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="icon" href="assets/images/favicon.ico">

	<!-- CSS
	============================================ -->
	<!-- Bootstrap CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">

	<!-- FontAwesome CSS -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">

	<!-- Ionicons CSS -->
	<link href="assets/css/ionicons.min.css" rel="stylesheet">

	<!-- Themify CSS -->
	<link href="assets/css/themify-icons.css" rel="stylesheet">

	<!-- Plugins CSS -->
	<link href="assets/css/plugins.css" rel="stylesheet">

	<!-- Helper CSS -->
	<link href="assets/css/helper.css" rel="stylesheet">

	<!-- Main CSS -->
	<link href="assets/css/main.css" rel="stylesheet">

	<!-- Modernizer JS -->
	<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>


 <!--=============================================
	=            Header overlay menu         =
	=============================================-->


	<div class="breadcrumb-area breadcrumb-bg-about pt-50 pb-70 mb-100">
		<div class="container">
			
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->


	<!--=============================================
	=            section title  container      =
	=============================================-->

	<div class="section-title-container mb-40">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<!--=======  section title  =======-->

					<div class="section-title section-title--one text-center">

						<h1>Sobre Nós</h1>
						<p class="subtitle">Grande variedade de Roupa Feminina <b>Made in France</b>. Alta qualidade, até 85% de desconto. Ver mais! 10% desconto na sua primeira encomenda</p>
					
						<p class="subtitle">Com foco na satisfação feminina a Loja é focada na concepção de modelos de roupas, calçados e acessórios femeninos </p>
					</div>

					<!--=======  End of section title  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of section title container ======-->

	<!--=============================================
    =            about us video content         =
    =============================================-->

	<div class="about-video-content mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<!--=======  about video area  =======-->

					<div
						class="about-video-bg-area about-video-bg-2 pt-300 pb-300 pt-sm-200 pb-sm-200  pt-xs-150 pb-xs-150  mb-50">
						<!--=======  floating-text left  =======-->

						<p class="video-text video-text-left"><a href="#">LEZADA STORE</a></p>

						<!--=======  End of floating-text left  =======-->
						<div class="play-icon text-center mb-40">
							<a href="https://www.youtube.com/watch?v=feOScd2HdiU" class="popup-video">
								<img src="assets/img/h/2.jpg" class="img-fluid" alt="">
							</a>
						</div>
						<h1>Nossa história</h1>

						<!--=======  floating-text right  =======-->

						<p class="video-text video-text-right"><a href="#">Nossa história</a></p>

						<!--=======  End of floating-text right  =======-->

					</div>

					<!--=======  End of about video area  =======-->
				</div>


			</div>

			<div class="row">

				<div class="offset-lg-1 col-lg-4 col-md-6 mb-sm-50">
					<div class="lezada-widget lezada-widget--about mb-35">
						<h2 class="widget-title mb-25">Morada</h2>
						<p class="widget-content">Av república da Bulgária LT 13 1950-442 Lisboa</p>
					</div>
					<div class="lezada-widget lezada-widget--about mb-35">
						<h2 class="widget-title mb-25">Telefone</h2>
						<a class="widget-content" href="tel://968161822">Tele: +351 968 161 822</a>
					</div>
					<div class="lezada-widget lezada-widget--about">
						<h2 class="widget-title mb-25">EMAIL</h2>
						<p class="widget-content">diva.fashion.lisboa@gmail.com</p>
					</div>
				</div>

				<div class="col-lg-5 offset-lg-1 col-md-6">
					<!--=======  about page content  =======-->

					<div class="about-page-text">
						<p class=" mb-35">Procurou encontrar um estilo próprio baseado na elegância, na qualidade, na comodidade e na funcionalidade.<br>A empresa tornou-se assim uma referência e consolidou-se como uma das principais empresas do panorama da moda europeia, dentro do seu segmento.<br>Tudo feito para teres a melhor experiência de atendimento online.</p>

						<a href="#" class="lezada-button lezada-button--medium lezada-button--icon--left"> <i
								class="icon-left ion-plus"></i>loja online</a>
					</div>

					<!--=======  End of about page content  =======-->
				</div>

			</div>
		</div>
	</div>

	<!--=====  End of about us video content  ======-->



	<!--=============================================
    =            multi item testimonial area        =
    =============================================-->

	<div class="lezada-testimonial multi-item-testimonial-area testimonial-bg testimonial-bg-1 mb-100 pt-135 pb-135">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mb-60">
					<!--=======  section title  =======-->

					<div class="section-title section-title--one text-center">
						<h1>Testemunhos</h1>
					</div>

					<!--=======  End of section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  testmonial slider container  =======-->

					<div class="lezada-slick-slider multi-testimonial-slider-container" data-slick-setting='{
						"slidesToShow": 3,
						"arrows": true,
						"autoplay": false,
						"autoplaySpeed": 5000,
						"speed": 1000,
						"prevArrow": {"buttonClass": "slick-prev", "iconClass": "ti-angle-left" },
						"nextArrow": {"buttonClass": "slick-next", "iconClass": "ti-angle-right" }
					}' data-slick-responsive='[
						{"breakpoint":1501, "settings": {"slidesToShow": 3} },
						{"breakpoint":1199, "settings": {"slidesToShow": 3} },
						{"breakpoint":991, "settings": {"slidesToShow": 2, "arrows": false} },
						{"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false} },
						{"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false} },
						{"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
					]'>

						<!--=======  single testimonial  =======-->

						<div class="col">
							<div class="testimonial-item multi-testimonial-single-item">
								<div class="multi-testimonial-single-item__text">
								
									A qualidade é ótima!! Assenta super bem , recomendo e compraria de novo!
								</div>
								<div class="multi-testimonial-single-item__author-info">
									<div class="image">
										<img src="/assets/img/client/1.jpg" class="img-fluid" alt="">
									</div>

									<div class="content">
										<p class="name">Joana Santos</p>
										<span class="designation">Cliente</span>
									</div>
								</div>
							</div>
						</div>

						<!--=======  End of single testimonial  =======-->

						<!--=======  single testimonial  =======-->

						<div class="col">
							<div class="testimonial-item multi-testimonial-single-item">
								<div class="multi-testimonial-single-item__text">
									Este foi realmente uma das melhores experiências online
								</div>
								<div class="multi-testimonial-single-item__author-info">
									<div class="image">
										<img src="/assets/img/client/2.jpg" class="img-fluid" alt="">
									</div>

									<div class="content">
										<p class="name">Catarina Monteiro</p>
										<span class="designation">Cliente</span>
									</div>
								</div>
							</div>
						</div>

						<!--=======  End of single testimonial  =======-->

						<!--=======  single testimonial  =======-->

						<div class="col">
							<div class="testimonial-item multi-testimonial-single-item">
								<div class="multi-testimonial-single-item__text">
									Suas informações são simples e claras
								</div>
								<div class="multi-testimonial-single-item__author-info">
									<div class="image">
										<img src="/assets/img/client/3.jpg" class="img-fluid" alt="">
									</div>

									<div class="content">
										<p class="name">Ana Cristina</p>
										<span class="designation">Cliente</span>
									</div>
								</div>
							</div>
						</div>

						<!--=======  End of single testimonial  =======-->

						<!--=======  single testimonial  =======-->

						<div class="col">
							<div class="testimonial-item multi-testimonial-single-item">
								<div class="multi-testimonial-single-item__text">
									Sempre na tentativa de melhorar a experiência dos clientes
								</div>
								<div class="multi-testimonial-single-item__author-info">
									<div class="image">
										<img src="assets/images/testimonial/testimonial-4-80x80.jpg" class="img-fluid" alt="">
									</div>

									<div class="content">
										<p class="name">Anais Coulon</p>
										<span class="designation">/ Ex-funcionário</span>
									</div>
								</div>
							</div>
						</div>

						<!--=======  End of single testimonial  =======-->

					</div>

					<!--=======  End of testmonial slider container  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of multi item testimonial area ======-->

	<!--=============================================
	=            section title  container      =
	=============================================-->

	<div class="section-title-container mb-40">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<!--=======  section title  =======-->

					<div class="section-title section-title--one text-center">
						<h1>Nossas Marcas</h1>
					</div>

					<!--=======  End of section title  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of section title container ======-->


	<!--=============================================
	=            brand logo area         =
	=============================================-->

	<div class="brand-logo-area mb-90 mb-md-60 mb-sm-60">
		<div class="container wide">
			<div class="row">
				<div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
					<!--=======  single brand logo  =======-->

					<div class="single-brand">
						<a href="#">
							<img src="assets/images/brands/logo-1.png" class="img-fluid" alt="">
						</a>
					</div>

					<!--=======  End of single brand logo  =======-->
				</div>
				<div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
					<!--=======  single brand logo  =======-->

					<div class="single-brand">
						<a href="#">
							<img src="assets/images/brands/logo-2.png" class="img-fluid" alt="">
						</a>
					</div>

					<!--=======  End of single brand logo  =======-->
				</div>
				<div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
					<!--=======  single brand logo  =======-->

					<div class="single-brand">
						<a href="#">
							<img src="assets/images/brands/logo-3.png" class="img-fluid" alt="">
						</a>
					</div>

					<!--=======  End of single brand logo  =======-->
				</div>
				<div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
					<!--=======  single brand logo  =======-->

					<div class="single-brand">
						<a href="#">
							<img src="assets/images/brands/logo-4.png" class="img-fluid" alt="">
						</a>
					</div>

					<!--=======  End of single brand logo  =======-->
				</div>
				<div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
					<!--=======  single brand logo  =======-->

					<div class="single-brand">
						<a href="#">
							<img src="assets/images/brands/logo-5.png" class="img-fluid" alt="">
						</a>
					</div>

					<!--=======  End of single brand logo  =======-->
				</div>
				<div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
					<!--=======  single brand logo  =======-->

					<div class="single-brand">
						<a href="#">
							<img src="assets/images/brands/logo-6.png" class="img-fluid" alt="">
						</a>
					</div>

					<!--=======  End of single brand logo  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of brand logo area  ======-->



  <!--=============================================
	=            footer area         =
	=============================================-->

	
		<!--=====  End of footer area  ======-->


  <!--=============================================
	=            overlay items         =
    =============================================-->

  <!--=======  overlay-navigation-menu  =======-->

  <div class="overlay-navigation-menu overlay-navigation-inactive" id="overlay-navigation-menu">
    <!--=======  close icon  =======-->

    <span class="close-icon overlay-menu-close-icon">
      <a href="javascript:void(0)" id="overlay-menu-close-icon">
        <i class="ti-close"></i>
      </a>
    </span>

    <!--=======  End of close icon  =======-->

    <!--=======  overlay navigation menu  =======-->

    <div class="overlay-navigation-menu-container">
      <nav>
        <ul id="vertical-collapsible-menu">
          <li class="has-children">
            <a href="#">NEW</a>
            <ul class="sub-menu">
              <li><a href="index-trending.html">MULHER</a></li>
              <li><a href="index-special.html">CRIANÇAS</a></li>
            </ul>
          </li>
          <li class="has-children">
            <a href="#" style="color:red;">SPECIAL PRICES</a>
            <ul class="sub-menu">
              <li><a href="index-trending.html">MULHER</a></li>
              <li><a href="index-special.html">CRIANÇAS</a></li>
            </ul>
          </li>
          
          <li class="has-children"><a href="#">MULHER</a>
            <ul class="sub-menu">
              <li class="has-children-submenu"> <a href="#">VESTIDOS</a>
                <ul class="sub-menu">
                  <li><a href="shop-no-sidebar.html">PRINCESA</a></li>
                  <li><a href="#">RETO OU TUBO</a></li>
                  <li><a href="shop-right-sidebar.html">EVASÊ OU A</a></li>
                  <li><a href="shop-fullwidth-no-space.html">IMPÉRIO</a></li>
                  <li><a href="shop-fullwidth-no-sidebar.html">SEREIA</a></li>
                  <li><a href="shop-fullwidth-left-sidebar.html">SEMI-SEREIA</a></li>
                  <li><a href="shop-fullwidth-right-sidebar.html">CURTO</a>
                    <li><a href="shop-fullwidth-right-sidebar.html">MULLET</a>
                  </li>
                </ul>
              </li>
              <li class="has-children-submenu"> <a href="#">BLAZERS</a>
                <ul class="sub-menu">
                </ul>
              </li>
              <li class="has-children-submenu"> <a href="#">MACAÇÕES</a>
                <ul class="sub-menu">
                  <li><a href="shop-product-with-background.html">COMPRITO</a></li>
                  <li><a href="shop-cart.html">CURTO</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="has-children"><a href="#">CRIANÇAS</a>
            <ul class="sub-menu">
              <li class="has-children-submenu"> <a href="#">MENINA | 6- 14 ANOS</a>
                
              </li>
              <li class="has-children-submenu"> <a href="#">MENINO | 6- 14 ANOS</a>
                
              </li>
              <li class="has-children-submenu"> <a href="#">BEBÉ MENINA | 3 MESES - 5 ANOS</a>
                
              </li>
              <li class="has-children-submenu"> <a href="#">BEBÉ MENINO | 3 MESES - 5 ANOS</a>
                
              </li>
              <li class="has-children-submenu"> <a href="#">MINI | 0- 12MESES</a>
               
              </li>
            </ul>
          </li>
          <li class="has-children"><a href="#">MAIS INFORMAÇÕES</a>
            <ul class="sub-menu">
              <li><a href="about-us.html">QUEM SOMOS</a></li>
              <li class="has-children-submenu"><a href="contact-us.html">CONTACTOS</a>
              <li><a href="faq.html">F.A.Q</a></li>
            </ul>
            
          </li>
        </ul>
      </nav>
    </div>

    <!--=======  End of overlay navigation menu  =======-->


  </div>

	<!--=======  End of about overlay  =======-->

	<!--=======  wishlist overlay  =======-->

	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="wishlist-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dining Chair</a></h5>
								<p><span class="main-price discounted">$300.00</span> <span class="discounted-price">$220.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/03.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
								<p><span class="main-price discounted">$100.00</span> <span class="discounted-price">$80.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-wishlist.html">view wishlist</a>
					</div>

					<!--=======  End of cart buttons  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>

	<!--=======  End of wishlist overlay  =======-->

	<!--=======  cart overlay  =======-->

	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="cart-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas cart content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">$180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dining Chair</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">$220.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/03.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">$80.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">$180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">$180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  subtotal calculation  =======-->

					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span>
						<span class="subtotal-amount">$200.00</span>
					</p>

					<!--=======  End of subtotal calculation  =======-->

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-cart.html">view cart</a>
						<a href="shop-checkout.html">checkout</a>
					</div>

					<!--=======  End of cart buttons  =======-->

					<!--=======  free shipping text  =======-->

					<p class="free-shipping-text">
						Free Shipping on All Orders Over $100!
					</p>

					<!--=======  End of free shipping text  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas cart content container   =======-->
		</div>
	</div>

	<!--=======  End of cart overlay  =======-->


	<!--=======  search overlay  =======-->

	<div class="search-overlay" id="search-overlay">

		<!--=======  close icon  =======-->

		<span class="close-icon search-close-icon">
			<a href="javascript:void(0)" id="search-close-icon">
				<i class="ti-close"></i>
			</a>
		</span>

		<!--=======  End of close icon  =======-->

		<!--=======  search overlay content  =======-->

		<div class="search-overlay-content">
			<div class="input-box">
				<form action="index.html">
					<input type="search" placeholder="Search Products...">
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>

		<!--=======  End of search overlay content  =======-->
	</div>

	<!--=======  End of search overlay  =======-->

	<!--=====  End of overlay items  ======-->

	<!-- scroll to top  -->
	<a href="#" class="scroll-top"></a>
	<!-- end of scroll to top -->

	<!-- JS
	============================================ -->
	<!-- jQuery JS -->
	<script src="assets/js/vendor/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="assets/js/popper.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins JS -->
	<script src="assets/js/plugins.js"></script>

	<!-- Main JS -->
	<script src="assets/js/main.js"></script>

</body>

</html>