  <!--=============================================
	=            product category container two         =
	=============================================-->

    <div class="product-category-container mb-90 mb-md-85 mb-sm-85">
        <div class="container wide">
          <div class="row">
            <div class="col-lg-12">
              <!--=======  product category wrapper  =======-->
    
              <div class="lezada-slick-slider product-category-slider wow fadeInUp" data-slick-setting='{
                            "slidesToShow": 3,
                            "arrows": true,
                            "autoplay": true,
                            "autoplaySpeed": 5000,
                            "speed": 1000,
                            "prevArrow": {"buttonClass": "slick-prev", "iconClass": "ion-ios-arrow-thin-left" },
                            "nextArrow": {"buttonClass": "slick-next", "iconClass": "ion-ios-arrow-thin-right" }
                        }' data-slick-responsive='[
                            {"breakpoint":1501, "settings": {"slidesToShow": 3} },
                            {"breakpoint":1199, "settings": {"slidesToShow": 3} },
                            {"breakpoint":991, "settings": {"slidesToShow": 2, "arrows": false} },
                            {"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false} },
                            {"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false} },
                            {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
                        ]'>
    
                <div class="col">
                  <!--=======  single category  =======-->
    
                  <div class="single-category single-category--two">
                    <!--=======  single category image  =======-->
    
                    <div class="single-category__image single-category__image--two">
                      <img src="/assets/img/h/15.jpg" class="img-fluid" alt="">
                    </div>
    
                    <!--=======  End of single category image  =======-->
    
                    <!--=======  single category content  =======-->
    
                    <div class="single-category__content single-category__content--two mt-25">
                      <div class="title">
                        <a href="shop-left-sidebar.html">NOVA COLEÇÃO</a>
                      </div>
    
                      <p class="product-count">1</p>
                    </div>
    
                    <!--=======  End of single category content  =======-->
    
    
                    <!--=======  banner-link  =======-->
    
                    <a href="shop-left-sidebar.html" class="banner-link"></a>
    
                    <!--=======  End of banner-link  =======-->
                  </div>
    
                  <!--=======  End of single category  =======-->
                </div>
    
                <div class="col">
                  <!--=======  single category  =======-->
    
                  <div class="single-category single-category--two">
                    <!--=======  single category image  =======-->
    
                    <div class="single-category__image single-category__image--two">
                      <img src="/assets/img/h/11.jpg" class="img-fluid" alt="">
                    </div>
    
                    <!--=======  End of single category image  =======-->
    
                    <!--=======  single category content  =======-->
    
                    <div class="single-category__content single-category__content--two mt-25">
                      <div class="title">
                        <a href="shop-left-sidebar.html">QUEM SOMOS</a>
                      </div>
    
                      <p class="product-count">2</p>
                    </div>
    
                    <!--=======  End of single category content  =======-->
    
    
                    <!--=======  banner-link  =======-->
    
                    <a href="shop-left-sidebar.html" class="banner-link"></a>
    
                    <!--=======  End of banner-link  =======-->
                  </div>
    
                  <!--=======  End of single category  =======-->
                </div>
    
                <div class="col">
                  <!--=======  single category  =======-->
    
                  <div class="single-category single-category--two">
                    <!--=======  single category image  =======-->
    
                    <div class="single-category__image single-category__image--two">
                      <img src="/assets/img/h/tele.jpg" class="img-fluid" alt="">
                    </div>
    
                    <!--=======  End of single category image  =======-->
    
                    <!--=======  single category content  =======-->
    
                    <div class="single-category__content single-category__content--two mt-25">
                      <div class="title">
                        <%= link_to "CONTACTOS", home_contact_path%>
                      </div>
    
                      <p class="product-count">3</p>
                    </div>
    
                    <!--=======  End of single category content  =======-->
    
    
                    <!--=======  banner-link  =======-->
    
                    <a href="shop-left-sidebar.html" class="banner-link"></a>
    
                    <!--=======  End of banner-link  =======-->
                  </div>
    
                  <!--=======  End of single category  =======-->
                </div>
    
                <div class="col">
                  <!--=======  single category  =======-->
    
                  <div class="single-category single-category--two">
                    <!--=======  single category image  =======-->
    
                    <div class="single-category__image single-category__image--two">
                      <img src="/assets/img/h/2.jpg" class="img-fluid" alt="">
                    </div>
    
                    <!--=======  End of single category image  =======-->
    
                    <!--=======  single category content  =======-->
    
                    <div class="single-category__content single-category__content--two mt-25">
                      <div class="title">
                        <li><%= link_to "Size Guide", home_size_path%></li>
                      </div>
    
                      <p class="product-count">3</p>
                    </div>
    
                    <!--=======  End of single category content  =======-->
    
    
                    <!--=======  banner-link  =======-->
    
                    <a href="shop-left-sidebar.html" class="banner-link"></a>
    
                    <!--=======  End of banner-link  =======-->
                  </div>
    
                  <!--=======  End of single category  =======-->
                </div>
    
               
              </div>
    
              <!--=======  End of product category wrapper  =======-->
            </div>
          </div>
        </div>
      </div>
    
      <!--=====  End of product category container two  ======-->

        <!--=============================================
    =            fashion home intro area        =
    =============================================-->

  <div class="fashion-home-intro-area mb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="fashion-home-intro">
            <p class="label">SS-2021</p>
            <h2 class="title">VESTIDOS PARA MULHER</h2>
            <p class="description">DE VESTIDOS CRUZADOS A MODELOS MAIS JUSTOS, OS VESTIDOS FEMININOS ESTÃO DE VOLTA COM VÁRIAS SILHUETAS, ESTAMPADOS E CORES PARA A PRÓXIMA ESTAÇÃO. ENCONTRE NA NOSSA COLEÇÃO O VESTIDO PERFEITO PARA TODAS AS OCASIÕES, DESDE O DESCONTRAÍDO VESTIDO CAMISEIRO OU UM VESTIDO DE MALHA CONFORTÁVEL PARA FINS-DE-SEMANA RELAXADOS. VAI A UMA FESTA? DESCUBRA A NOSSA SELEÇÃO DE CLÁSSICOS VESTIDOS PRETOS CLÁSSICOS E VESTIDOS DE FESTA COMPRIDOS.</p>
            <a href="shop-left-sidebar.html" class="lezada-shop-link">Novas Coleções</a>
            <p class="shadow-text">ss-21</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--=====  End of fashion home intro area ======-->

  <header class="header header-nontransparent-overlay-menu border-bottom-0 header-sticky">

    <!--=======  header bottom  =======-->

    <div class="header-bottom pt-40 pb-40">
      <div class="container wide">

        <!--=======  header bottom container  =======-->

        <div class="header-bottom-container">

          <!--=======  logo with off canvas  =======-->

          <div class="logo-with-offcanvas d-flex">

            <!--=======  overlay menu icon  =======-->

            <div class="overlay-menu-icon mr-20 d-none d-lg-block">
              <a href="javascript:void(0)" id="overlay-menu-icon">
                <i class="ion-navicon"></i>
              </a>
            </div>

            <!--=======  End of overlay menu icon  =======-->


          </div>

          <!--=======  End of logo with off canvas  =======-->

         

          <!--=======  logo   =======-->

          <div class="logo">
            <a href="index.html">
              <img src="assets/img/logo/logo.png" class="img-fluid" alt="">
            </a>
          </div>

          <!--=======  End of logo   =======-->

          <!--=======  headeer right container  =======-->

          <div class="header-right-container">

            <!--=======  header right icons  =======-->

            <div class="header-right-icons d-flex justify-content-end align-items-center h-100">
             
             
              <!--=======  single-icon  =======-->

              <div class="single-icon wishlist">
                <a href="javascript:void(0)" id="offcanvas-wishlist-icon">
                  <i class="ion-android-favorite-outline"></i>
                  <span class="count">2</span>
                </a>
              </div>

              <!--=======  End of single-icon  =======-->
              
            </div>
            <!--=======  End of header right icons  =======-->

          </div>

          <!--=======  End of headeer right container  =======-->


        </div>

        <!--=======  End of header bottom container  =======-->

        <!-- Mobile Navigation Start Here -->

        <div class="site-mobile-navigation d-block d-lg-none">
          <div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
            <!--Site Mobile Menu Toggle Start-->
            <button class="dl-trigger hamburger hamburger--spin">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <!--Site Mobile Menu Toggle End-->
            <ul class="dl-menu dl-menu-toggle">
              <li class=""><a href="#">NEW</a>
                <ul class="dl-submenu">
                  <li class=""> <a href="#">MULHER</a></li>
                  <li> <a href="#">CRIANÇAS</a></li>
                 </ul>
              </li>
              <li class=""><a href="#" style="color:red;">SPECIAL PRICES</a>
                <ul class="dl-submenu">
                  <li class=""> <a href="#">MULHER</a></li>
                  <li> <a href="#">CRIANÇAS</a></li>
                 </ul>
              </li>

              <li><a href="#">MULHER</a>
                <ul class="dl-submenu">
                  <li class=""> <a href="#">VESTIDOS</a>
                    <ul class="dl-submenu">
                      <li><a href="shop-no-sidebar.html">PRINCESA</a></li>
                      <li><a href="shop-left-sidebar.html">RETO OU TUBO</a></li>
                      <li><a href="shop-right-sidebar.html">EVASÊ OU A</a></li>
                      <li><a href="shop-fullwidth-no-space.html">IMPÉRIO</a></li>
                      <li><a href="shop-fullwidth-no-sidebar.html">SEREIA</a></li>
                      <li><a href="shop-fullwidth-left-sidebar.html">SEMI-SEREIA</a></li>
                      <li><a href="shop-fullwidth-right-sidebar.html">CURTO</a>
                        <li><a href="shop-fullwidth-right-sidebar.html">MULLET</a>
                      </li>
                    </ul>
                  </li>
                  <li class=""> <a href="#">BLAZERS</a>
                    <ul class="dl-submenu">
                    </ul>
                  </li>
                  <li class=""> <a href="#">MACAÇÕES</a>
                    <ul class="dl-submenu">
                      <li><a href="shop-product-with-background.html">COMPRITO</a></li>
                      <li><a href="shop-cart.html">CURTO</a></li>
                    </ul>
                  </li>


                </ul>
              </li>
              
              <li><a href="#">CRIANÇAS</a>
                <ul class="dl-submenu">
                  <li class=""> <a href="#">MENINA | 6- 14 ANOS</a>
                    
                  </li>
                  <li class=""> <a href="#">MENINO | 6- 14 ANOS</a>
                    
                  </li>
                  <li class=""> <a href="#">BEBÉ MENINA | 3 MESES - 5 ANOS</a>
                    
                  </li>
                  <li class=""> <a href="#">BEBÉ MENINO | 3 MESES - 5 ANOS</a>
                    
                  </li>
                  <li class=""> <a href="#">MINI | 0- 12MESES</a>
                    
                  </li>
                </ul>
              </li>
              <li><a href="#">MAIS INFORMAÇÕES</a>
                <ul class="dl-submenu">
                  <li><a href="#">QUEM SOMOS</a></li>
                  <li><a href="#">LOJA</a></li>
                  <li><a href="#">CONTACTOS</a></li>
                  <li><a href="#">F.A.Q</a></li>
                 
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Navigation End Here -->


      </div>
    </div>

    <!--=======  End of header bottom  =======-->
  </header>

  <!--=======  overlay-navigation-menu  =======-->

  <div class="overlay-navigation-menu overlay-navigation-inactive" id="overlay-navigation-menu">
    <!--=======  close icon  =======-->

    <span class="close-icon overlay-menu-close-icon">
      <a href="javascript:void(0)" id="overlay-menu-close-icon">
        <i class="ti-close"></i>
      </a>
    </span>

    <!--=======  End of close icon  =======-->

    <!--=======  overlay navigation menu  =======-->

    <div class="overlay-navigation-menu-container">
      <nav>
        <ul id="vertical-collapsible-menu">
          <li class="has-children">
            <a href="#">NEW</a>
            <ul class="sub-menu">
              <li><a href="/roupas/vestidos">MULHER</a></li>
              <li><a href="/roupas/0">CRIANÇAS</a></li>
            </ul>
          </li>
          <li class="has-children">
          
            <a href="#" style="color:red;">SPECIAL PRICES</a>
            <ul class="sub-menu">
              <% @root_categories.each do |category|%>
               <li class="has-children"><a href="/roupas/desconto/<%= category.id %>"><%= category.title %></a>
               </li>
              <% end -%>
              
            </ul>
          </li>
          
         <% @root_categories.each do |category| %>
            <li class="has-children"><a href="/roupas/<%= category.id %>"><%= category.title %></a>
              <ul class="sub-menu">
                <% category.children.each do |sub_category| %>
                  <li class="has-children-submenu"> <a href="/roupas/<%= sub_category.id %>"><%= sub_category.title %></a></li>
                <% end -%>
              </ul>
            </li>
          <% end -%>

          <li class="has-children"><a href="#">MAIS INFORMAÇÕES</a>
            <ul class="sub-menu">
              <li><li><%= link_to "QUEM SOMOS", home_about_path%></li></li>
              <li class="has-children-submenu"><%= link_to "CONTACTOS", home_contact_path%>
            </ul>
            
          </li>
        </ul>
      </nav>
    </div>

    <!--=======  End of overlay navigation menu  =======-->


  </div>

  <!--=======  End of overlay-navigation-menu  =======-->