

 <!--=============================================
	=            Header overlay menu         =
	=============================================-->


	<div class="breadcrumb-area breadcrumb-bg-about pt-50 pb-70 mb-100">
		<div class="container">
			
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->


	<!--=============================================
	=            section title  container      =
	=============================================-->

	<div class="section-title-container mb-40">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<!--=======  section title  =======-->

					<div class="section-title section-title--one text-center">

						<h1>Size Guide</h1>
						<p class="subtitle">Grande variedade de Roupa Feminina <b>Made in France</b>. Alta qualidade, até 85% de desconto. Ver mais! 10% desconto na sua primeira encomenda</p>
					</div>

					<!--=======  End of section title  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of section title container ======-->

	<!--=============================================
    =            about us video content         =
    =============================================-->

	<div class="about-video-content mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<!--=======  about video area  =======-->

						<!--=======  floating-text left  =======-->

						

						<!--=======  End of floating-text left  =======-->
						
								<img src="/assets/img/size/1.png" class="center" alt="">
						
						

						<!--=======  floating-text right  =======-->

						

						<!--=======  End of floating-text right  =======-->

					

					<!--=======  End of about video area  =======-->
				</div>


			</div>



		
			</div>
		</div>
	</div>

	<!--=====  End of about us video content  ======-->

