
  <!--=============================================
	=            footer area         =
	=============================================-->

  <div class="footer-container footer-one pt-100 pb-50">
    <div class="container wide">
      <div class="row">
        <div class="col footer-single-widget">
          <!--=======  copyright text  =======-->
          <!--=======  logo  =======-->

          <div class="logo">
            <img src="/assets/img/logo.png" class="img-fluid" alt="">
          </div>

          <!--=======  End of logo  =======-->

          <!--=======  copyright text  =======-->

          <div class="copyright-text">
            <p> &copy; 2021 Special Day <span>All Rights Reserved</span></p>
          </div>

          <!--=======  End of copyright text  =======-->

          <!--=======  End of copyright text  =======-->
        </div>
        <div class="col footer-single-widget">
          <!--=======  single widget  =======-->
          <h5 class="widget-title">ABOUT</h5>

          <!--=======  footer navigation container  =======-->

          <div class="footer-nav-container">
            <nav>
              <ul>
              <li><%= link_to "Quem somos", home_about_path%></li>
              <li><%= link_to "Contactos", home_contact_path%></li>
              </ul>
            </nav>
            </div>
      
            <!--=======  End of footer navigation container  =======-->
      
            <!--=======  single widget  =======-->
          </div>
          <div class="col footer-single-widget">
            <!--=======  single widget  =======-->
            <h5 class="widget-title">LINKS ÚTEIS</h5>
      
            <!--=======  footer navigation container  =======-->
      
            <div class="footer-nav-container">
            <nav>
              <ul>
              <li><%= link_to "Size Guide", home_size_path%></li>

              <li><a class="widget-content" href="tel://968161822">Fala Conosco</a></li>
              
              </ul>
            </nav>
            </div>

          <!--=======  End of footer navigation container  =======-->

          <!--=======  single widget  =======-->
        </div>

        <div class="col footer-single-widget">
          <!--=======  single widget  =======-->
          <h5 class="widget-title">FOLLOW US ON</h5>

          <!--=======  footer navigation container  =======-->

          <div class="footer-nav-container footer-social-links">
            <nav>
              <ul>
                <li><a href="https://www.facebook.com/Dive-Fashion-110178697918789"> <i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="https://www.instagram.com/dive_fashion_lisboa/?hl=en"><i class="fa fa-instagram"></i> Instagram</a></li>
                <li><a href="https://www.youtube.com/channel/UCBfI0--qUgZ83CSEOorJVNA"> <i class="fa fa-youtube"></i> Youtube</a></li>
              </ul>
            </nav>
          </div>

          <!--=======  End of footer navigation container  =======-->


          <!--=======  single widget  =======-->
        </div>
        <div class="col footer-single-widget">
          <!--=======  single widget  =======-->

          <div class="footer-subscription-widget">
            <h2 class="footer-subscription-title">Fala conosco.</h2>
            <p class="subscription-subtitle">Deixa o seu email e as suas mensagens.</p>

            <!--=======  subscription form  =======-->

            <div class="subscription-form">
              <form id="mc-form" class="mc-form">
                <input type="email" placeholder="seu email" required>
                <button type="submit"><i class="ion-ios-arrow-thin-right"></i></button>
              </form>
            </div>

            <!--=======  End of subscription form  =======-->

            <!-- mailchimp-alerts Start -->

            <div class="mailchimp-alerts">
              <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
              <div class="mailchimp-success"></div><!-- mailchimp-success end -->
              <div class="mailchimp-error"></div><!-- mailchimp-error end -->
            </div><!-- mailchimp-alerts end -->

          </div>

          <!--=======  End of single widget  =======-->
        </div>
      </div>
    </div>
  </div>

  <!--=====  End of footer area  ======-->
