		<!--=======  shop page header  =======-->

		<div class="shop-page-header">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-12 col-lg-7 col-md-10 d-none d-md-block">
						<!--=======  fitler titles  =======-->
						<div class="filter-title filter-title--type-two">
							<ul class="product-filter-menu">
								<li class="active" data-filter="*">All</li>
								<li data-filter=".new">novos productos</li>
								<li data-filter=".sale">productos em descontos</li>
							</ul>
						</div>
						<!--=======  End of fitler titles  =======-->
					</div>

					<div class="col-12 col-lg-5 col-md-2">
						<!--=======  filter icons  =======-->

						<div class="filter-icons">
							<!--=======  filter dropdown  ==F=====-->

							<div class="single-icon filter-dropdown">
								<select class="nice-select" style="display: none;">
									<option value="0">Default sorting</option>
									<option value="1">Sort ny popularity</option>
									<option value="0">Sort by average rating</option>
									<option value="0">Sort by latest</option>
									<option value="0">Sort by price: low to high</option>
									<option value="0">Sort by price: high to low</option>
								</select><div class="nice-select" tabindex="0"><span class="current">Default sorting</span><ul class="list"><li data-value="0" class="option selected">Default sorting</li><li data-value="1" class="option">Sort ny popularity</li><li data-value="0" class="option">Sort by average rating</li><li data-value="0" class="option">Sort by latest</li><li data-value="0" class="option">Sort by price: low to high</li><li data-value="0" class="option">Sort by price: high to low</li></ul></div>
							</div>

							<!--=======  End of filter dropdown  =======-->

							<!--=======  grid icons  =======-->

							<div class="single-icon grid-icons">
								<a data-target="five-column" href="javascript:void(0)"><i class="ti-layout-grid4-alt"></i></a>
								<a data-target="four-column" class="active" href="javascript:void(0)"><i class="ti-layout-grid3-alt"></i></a>
								<a data-target="three-column" href="javascript:void(0)"><i class="ti-layout-grid2-alt"></i></a>
								<a data-target="list" href="javascript:void(0)"><i class="ti-view-list"></i></a>
							</div>

							<!--=======  End of grid icons  =======-->

							<!--=======  advance filter icon  =======-->

							<div class="single-icon advance-filter-icon">
								<a href="javascript:void(0)" id="advance-filter-active-btn"><i class="ion-android-funnel"></i>
									Filters</a>
							</div>

							<!--=======  End of advance filter icon  =======-->
						</div>

						<!--=======  End of filter icons  =======-->
					</div>

				</div>
			</div>
		</div>

		<!--=======  End of shop page header  =======-->

		<!--=============================================
        =            shop advance filter area         =
        =============================================-->

		<div class="shop-advance-filter-area" id="shop-advance-filter-area">
			<div class="shop-advance-filter-wrapper pt-50">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Sort by</h2>
								<ul class="single-filter-widget--list">
									<li><a href="#">Default</a></li>
									<li><a href="#">Popularity</a></li>
									<li><a href="#">Average rating</a></li>
									<li><a href="#">Newness</a></li>
									<li><a href="#">Price: low to high</a></li>
									<li><a href="#">Price: high to low</a></li>
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Categories</h2>
								<ul class="single-filter-widget--list single-filter-widget--list--category">
									<li class="has-children">
										<a href="#">Cosmetic </a> <span class="quantity">5</span>
										<ul>
											<li><a href="#">For body</a></li>
											<li><a href="#">Make up</a></li>
											<li><a href="#">New</a></li>
											<li><a href="#">Perfumes</a></li>
										</ul>
									<a href="#" class="expand-icon">+</a></li>
									<li class="has-children">
										<a href="#">Furniture </a> <span class="quantity">23</span>
										<ul>
											<li><a href="#">Sofas</a></li>
											<li><a href="#">Armchairs</a></li>
											<li><a href="#">Desk Chairs</a></li>
											<li><a href="#">Dining Chairs</a></li>
										</ul>
									<a href="#" class="expand-icon">+</a></li>
									<li><a href="#">Watches </a> <span class="quantity">12</span></li>
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Price filter</h2>
								<ul class="single-filter-widget--list">
									<li><a href="#">All</a></li>
									<li><a href="#">$0.00 - $70.00</a></li>
									<li><a href="#">$70.00 - $140.00</a></li>
									<li><a href="#">$140.00 - $210.00</a></li>
									<li><a href="#">$210.00 - $280.00</a></li>
									<li><a href="#">$280.00 - $350.00</a></li>
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Color</h2>
								<ul class="single-filter-widget--list single-filter-widget--list--color">
									<li><a class="active" href="#" data-tippy="Black" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker black"></span></a></li>
									<li><a href="#" data-tippy="Blue" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker blue"></span></a></li>
									<li><a href="#" data-tippy="Brown" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker brown"></span></a></li>
									<li><a href="#" data-tippy="Gold" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker gold"></span></a></li>
									<li><a href="#" data-tippy="Green Coral" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker green-coral"></span></a></li>
									<li><a href="#" data-tippy="Grey" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker grey"></span></a></li>
									<li><a href="#" data-tippy="Oak" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker oak"></span></a></li>
									<li><a href="#" data-tippy="Pink" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker pink"></span></a></li>
									<li><a href="#" data-tippy="Silver" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker silver"></span></a></li>
									<li><a href="#" data-tippy="White" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span class="color-picker white"></span></a></li>
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Size</h2>
								<ul class="single-filter-widget--list single-filter-widget--list--size">
									<li><a href="#">L</a> <span class="quantity">5</span></li>
									<li><a href="#">M</a> <span class="quantity">5</span></li>
									<li><a href="#">S</a> <span class="quantity">5</span></li>
									<li><a href="#">XS</a> <span class="quantity">5</span></li>
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Brands</h2>
								<ul class="single-filter-widget--list single-filter-widget--list--brand">
									<li><a href="#">Alliop</a> <span class="quantity">(12)</span></li>
									<li><a href="#">Burberry</a> <span class="quantity">(15)</span></li>
									<li><a href="#">Catmen</a> <span class="quantity">(13)</span></li>
									<li><a href="#">Houdini</a> <span class="quantity">(10)</span></li>
									<li><a href="#">Love</a> <span class="quantity">(70)</span></li>
									<li><a href="#">Made</a> <span class="quantity">(15)</span></li>
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--=====  End of shop advance filter area  ======-->

		<!--=============================================
		=            shop page content         =
		=============================================-->
