<div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="/">后台管理页面</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="/">St</a>
          </div>
          <ul class="sidebar-menu">
              <li class="menu-header">管理页面</li>
              <li class="nav-item dropdown active">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>产品&类别添加</span></a>
                <ul class="dropdown-menu">
                  <%= link_to "产品添加", products_path%>
                </ul>
              </li>
              
             
            
              
              
              
              

            <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
              <a href="" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i>退出管理界面
              </a>
            </div>
        </aside>
    </div>